body {
  --mainBackgroundColor: #111111;
  --mainForegroundColor: #fff;

  /* Compat with PeerTube < 3.2 */
  --submenuColor: rgb(32, 32, 32);

  --submenuBackgroundColor: rgb(32, 32, 32);

  --inputForegroundColor: #fff;
  --inputBackgroundColor: gray;
  --inputPlaceholderColor: #fff;

  --textareaForegroundColor: #fff;
  --textareaBackgroundColor: gray;
  --markdownTextareaBackgroundColor: gray;

  --greyForegroundColor: gray;
  --actionButtonColor: gray;
  --activatedActionButtonColor: #fff;

  --channelBackgroundColor: rgb(32, 32, 32);
}
